app/views_c/

app/config/Local.php

app/libs/smarty/
app/libs/smartybu/
app/libs/adodb5/

assets/libs/fontawesome-markers/

assets/css/custom.css.map
assets/css/custom.min.css
assets/css/custom.min.css.map
assets/css/custom.scss
assets/css/old.css

request.http

data/

upload/

.vscode/

graph

tree-data

*.sql
*.rar
*.zip
*.bu
